/*
================
Header
================
*/ 
header {
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header nav {
  font-size: larger;
 
}

header nav a{
  display: inline-block;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  
  text-decoration: none;
  transition: transform 0.2s ease;
}
header nav a:hover{
  transform: scale(1.2);
}
@media screen and (max-width: 768px){
  header {
    justify-content: center;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
  }
  header nav {
    display: none;
  }
  header nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
    gap: 100px;
  }
  header nav a:hover{
    text-decoration: none;
    color: #007bff;
  }  
}
/*
================
Body
================
*/ 
body{
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    background-attachment: scroll;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*
================
Hero
================
*/ 
.Hero {
    padding: 60px;
    background-color: #000000;
    position: relative;
}
.MeImage{
  position: relative;
  bottom: 70px;
 display: block;
 margin: 0 auto;
 background-color: transparent;
 color: #ffffff;
 box-shadow: 0 4px 10px rgba(44, 44, 44, 0.05);
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.MeImage:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(41, 41, 41, 0.15);
}
.ImAvailable{
    color: #007900;
    font-weight: normal;
    background-color: #e0ffeb;
    width: fit-content;
}
.blinking-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: rgb(41, 135, 83);
  border-radius: 50%; /* Makes it a circle */
  margin-right: 8px; /* Space between the dot and the text */

  /* Animation */
  animation: blink 1s infinite;
}
.btn1{
    color: #ffffff !important;
    background-color: #0f7deb;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 7px 80px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.btn2 {
    color: #0f7deb;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 7px 80px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
/*
================
Skills
================
*/ 
figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  background-color: #f0f0f0;
  width: auto;
  text-align: center;
  padding: 1px;
  border-radius: 5px;
}
.logo{
  padding: 20px;
}
/*
================
Project
================
*/ 
.main-project{
  display: flex;
}
.tech-stack{
  color: white;
  background-color: rgb(108, 104, 104);
  padding: 5px;
  border-radius: 5px;
 min-width: none;
}
@media screen and (max-width: 768px) {
  .main-project{
    display: block;
  }
} 
.custom-btn-project{
background-color: grey;
 border-color: grey;
 transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.custom-btn-project:hover{
  background-color: rgb(97, 95, 95);
    color:#f0f0f0;
    border-color:rgb(97, 95, 95);
}
.Project-box {
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(44, 44, 44, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Project-box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(41, 41, 41, 0.15);
}
/*
================
Form
================
*/ 
.Form-container{
  box-shadow: 1px 1px 3px rgb(181, 177, 177);
}
form {
  max-width: 350px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 12px;

}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #000000;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  align-items: center;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  overflow: auto;
  color: rgb(0, 0, 0);
  background-color: inherit;
}
input:focus, textarea:focus {
  border-color: #000000;
  outline: none;
}
button {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
 /*
 ================
 Mobile-Menu 
 ================
 */ 
@media (min-width: 768px) {
  .menu-label, .menu-checkbox, .menu {
      display: none;
  }
  .desktop-nav {
      display: block; 
  }
}
@media screen and (max-width: 769px) {
  .desktop-nav {
    display: none; /* Hide desktop nav on mobile */
  }
  .menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;                     /* Flush with the viewport edge */
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;               /* Ensure the menu is on top */
    transform: translateX(100%);  /* Start hidden off to the right */
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ffffff;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu ul li {
    margin: 10px 0;
  }
  .menu ul li a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    display: block;
  }
  .menu-checkbox {
    display: none;
  }
  .menu-label {
    font-size: 35px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
  
    right: 15px;
    color: rgb(0, 0, 0);
  }
  .menu-checkbox:checked ~ .menu {
    display: block;
    transform: translateX(0);    /* Slide into view */
  }
}